@model NewsTask.Mvc.Models.NewsViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>NewsViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsDescription" class="control-label"></label>
                <input asp-for="NewsDescription" class="form-control" />
                <span asp-validation-for="NewsDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicationDate" class="control-label"></label>
                <input asp-for="PublicationDate" class="form-control" />
                <span asp-validation-for="PublicationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                    <input type="file" asp-for="ImageFile" class="form-control" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                @*<input type="file" name="Image" id="ImageData" />*@
            </div>
            <div class="form-group">
                @*<label asp-for="AuthorId" class="control-label"></label>
                    <input asp-for="AuthorId" class="form-control" />
                    <span asp-validation-for="AuthorId" class="text-danger"></span>*@
                @Html.DropDownListFor(m => m.AuthorId,new SelectList(ViewBag.Authors,"Id", "Name"),
                "Select Author")
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
